.each-item {
  background-color: rgb(250, 248, 248);
  /* padding-left: 8px;
  padding-right: 8px; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  border: 1px solid lightgrey;
}
.amount-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.text,
.amount {
  padding-left: 8px;
  padding-right: 8px;
}

.each-box {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* background-color: yellow; */
  height: 40px;
  margin-bottom: 4px;
}

.del-btn {
  background-color: rgb(182, 35, 35);
  color: wheat;
  border: none;
  cursor: pointer;
  height: 80%;
}
